<header class="bg-white shadow-apple-sm">
  <nav class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold text-accent">Alfred</a>
    <ul class="hidden md:flex space-x-4">

    </ul>
    <button class="md:hidden text-accent" (click)="toggleMobileMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </nav>
  <div *ngIf="isMobileMenuOpen" class="md:hidden">
    <ul class="bg-white py-2">

    </ul>
  </div>
</header>
